{% extends "base.html" %}
{% load i18n staticfiles wger_extras %}


{% block title %}{% trans "Login to your account" %}{% endblock %}


<div class="wrap">
<div class="contact-form">
{% block content %}


<div class="clear"><span></span></div>
<form class="form_horizontal" action="{% url 'core:user:login' %}{% if next %}?next={{next}}{% endif %}" method="post" name="contact_form">
{% block header %}
{% endblock %}

            {% trans 'Login' as submit_text %}
            {% render_form_fields form submit_text %}
<div class="clear"></div>	
<div class="forgot">
			<a href="#">forgot password?</a>
		</div>
	</form>
{% endblock %}

{% block sidebar %}


	<h4><a href="{% url 'core:user:registration' %}">Dont have an account? Sign Up Here</a></h4>

    <div class="span"><a href="{% url 'social:begin' 'facebook' %}?next={{ request.GET.next }}"><img src="images/facebook.png" alt=""/><i>Sign In with Facebook</i><div class="clear"></div></a></div>	
    <div class="span1"><a href="{% url 'social:begin' 'twitter' %}?next={{ request.GET.next }}"><img src="images/twitter.png" alt=""/><i>Sign In with Twitter</i><div class="clear"></div></a></div>
    <div class="span2"><a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.GET.next }}"><img src="images/gplus.png" alt=""/><i>Sign In with Google+</i><div class="clear"></div></a></div>

{% endblock %}

</div>
</div>