{% extends "base.html" %}
{% load i18n staticfiles wger_extras %}

{% block title %}{% trans "Login" %}{% endblock %}


{% block header %}
{% endblock %}

{% block content %}
<form action="{% url 'core:user:login' %}{% if next %}?next={{next}}{% endif %}"
      method="post"
      class="form-horizontal">
    {% trans 'Login' as submit_text %}
    {% render_form_fields form submit_text %}
</form>
<div class="container">

   <div class="row col-md-offset-2 col-md-5 col-sm-7 col-xs-offset-0 col-xs-11 social-buttons"> 
   <div class="col-md-4 col-md-offset-0 col-xs-offset-0 col-xs-4">   
              
       <a class="btn btn-xs btn-block btn-facebook" href="{% url 'social:begin' 'facebook' %}?next={{ request.GET.next }}"><span class="hidden-xs">Sign In with&nbsp;</span></span><span class="fa fa-facebook"></span></a>
      </div><div class="col-md-4 col-md-offset-0 col-xs-offset-0 col-xs-4">     
       <a class="btn btn-xs btn-block btn-google" href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.GET.next }}"><span class="hidden-xs">Sign In with&nbsp;</span><span class="fa fa-google"></span></a>
        </div><div class="col-md-4 col-md-offset-0 col-xs-offset-0 col-xs-4"> 
       <a class="btn btn-xs btn-block btn-twitter" href="{% url 'social:begin' 'twitter' %}?next={{ request.GET.next }}"><span class="hidden-xs">Sign In with&nbsp;</span><span class="fa fa-twitter"></span></a>
      </div> 
     </div>
     
</div>
{% endblock %}


{% block sidebar %}

<h4>{% trans "No account?" %}</h4>
<p>
    <a href="{% url 'core:user:registration' %}" class="btn btn-block btn-default">
        <span class="{% fa_class 'sign-in' %}"></span>
        {% trans "Register" %}
    </a>
</p>

<h4>{% trans "Forgot password?" %}</h4>
<p>
    <a href="{% url 'core:user:password_reset' %}" class="btn btn-block btn-default">
        <span class="{% fa_class 'key' %}"></span>
        {% trans "Reset password" %}
    </a>
</p>
{% endblock %}
