{% extends "base_wide.html" %}
{% load i18n staticfiles wger_extras %}

{% block title %}{% trans "Comparison" %}{% endblock %}

{% block content %}
    <div>

            <table class="table table-hover table-condensed">

                <tr> 
                    <td>
                        <strong>User:</strong>
                    </td>
                    <td>
                        <strong>{{ user.name }}</strong>
                    </td>
                    <td>
                        <strong>{{ user_main.name }}</strong>
                    </td>
                </tr> 
                <tr>
                    <td>
                        Age:
                    </td>
                    <td>
                        {{ user.data.age }}
                    </td>
                    
                    <td>
                        {{ user_main.data.age }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Height:
                    </td>
                    <td>
                        {{ user.data.height }}
                    </td>

                    <td>
                        {{ user_main.data.height }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Weight:
                    </td>
                    <td>
                        {{ user.data.weight }}
                    </td>

                    <td>
                        {{ user_main.data.weight }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Work Intensity:
                    </td>
                    <td>
                        {{ user.data.work_intensity }}
                    </td>

                    <td>
                        {{ user_main.data.work_intensity }}
                    </td>
                </tr>
                <tr>
                    <td>
                        Work Hours:
                    </td>
                    <td>
                        {{ user.data.work_hours }}
                    </td>

                    <td>
                        {{ user_main.data.work_hours }}
                    </td>
                </tr>

            </table>
    </div>
{% endblock %}